
  body {
    background-color: #FDEBF7;
  }
  hr {

    border-style: dotted none none;

    border-color: grey;
    border-width: 7px;
    width: 5%;


  }
  img {
    height: 150px;
  }

 h1 {
   color: #66BFBF;
}

h3 {
  color: #1572A1;
}
